/* COLOR SCHEME 

MAIN BACKGROUND COLOR - #1C1C1C
TEXT BLOCK BACKGROUND COLOR - #273549
HIGHLIGHT TEXT COLOR - #10B981
NORMAL TEXT COLOR - #FFF

*/
html {
  font-size: 62.5%;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #1c1c1c;
  font-family: "Times New Roman", Times, serif;
}
main {
  text-align: center;
  margin: 10em auto;
  max-width: 50rem;
  height: 80vh;
  padding: 3em 5em 3em;
  background-color: #273549;
  border-radius: 3px;
}
.hero-heading {
  color: #fff;
  font-size: 4rem;
}
.hero-heading span {
  color: #10b981;
}
.subheading {
  margin-top: 2em;
  color: #ffffffb7;
  font-size: 2rem;
}
/* PASSWORD GENERATION BUTTONS STYLING */
.password-generation-btns {
  display: flex;
  justify-content: center;
  gap: 1em;
}
.password-generation-btn {
  width: 15em;
  margin-top: 2em;
  padding: 1em 2em;
  background-color: #10b981;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-weight: 600;
  font-size: 1.6rem;
}

/* PASSWORD DISPLAY BUTTONS STYLING */
.password-display-btns {
  margin-top: 3em;
  border-top: 2px solid #ffffff24;
  display: flex;
  justify-content: center;
  gap: 3em;
}
.password-display-btn {
  width: 15em;
  height: 2.5em;
  margin-top: 2em;
  background-color: #202f43c5;
  color: #10b981;
  border: none;
  border-radius: 2px;
  font-size: 1.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 601px) and (max-width: 850px) {
  main {
    margin-top: 6em;
    height: 100vh;
  }
}
@media (min-width: 301px) and (max-width: 600px) {
  main {
    height: 85vh;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .password-display-btns,
  .password-generation-btns {
    flex-wrap: wrap;
  }
  .password-generation-btns {
    gap: 0;
  }
  .password-generation-btn {
    margin-top: 1em;
  }
  .password-display-btns {
    gap: 0;
  }
  .password-display-btn {
    margin-top: 1em;
  }
  .password-display-btn:last-child {
    margin-top: 0;
  }
}

@media (max-width: 300px) {
  main {
    padding-top: 6em;
    padding-bottom: 3em;
  }
  .password-display-btns {
    gap: 0;
  }
  .password-display-btn {
    margin-top: 0;
  }
}
